.booking__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 300px; */
  /* padding: 50px; */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* margin: 100px auto; */
}

.booking__form > label {
  font-size: 18px;
  margin-bottom: 10px;
}

.booking__form > input[type="number"],
.booking__form > input[type="date"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.booking__form > button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #ff5a5f;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.booking__form > button:hover {
  background-color: #ff8a8d;
}
