  .maphub {
  /* position:absolute;  */
  /* top:auto;  */
  /* bottom:100%;  */
  width:40vw;
  height:1rm
  }
  
  body { 
  margin:0; 
  padding:0;
  }

  .formap {
    display: flex;
    flex-direction: row;
  }