.property {
  display: flex;
  position: relative;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
}

.property > img {
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.property__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.property__info > h3 {
  font-weight: 300;
  margin-top: 10px;
}

.property__info > p {
  margin-top: 10px;
  font-size: 13px;
  color: gray;
}

.property__form {
  display: flex;
  flex-direction: column;
  justify-content: end;
  right: 40px;
  width: 30%;
}

.property__icons {
  position: relative;
  display: flex;
  /* flex-direction: column; */
}

.property__stars {
  display: flex;
  align-items: center;
}