.search {
  position: absolute;
  top: 60px;
  padding: 20px;
  left: 25%;
  right: 25%;
  width: 559px;
  background-color: white;
}

.search > h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 559px;
  padding: 10px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 30px;
}

.search > input {
  width: 559px;
  width: 100%;
  padding: 20px;
  position: absolute;
  left: 0;
  height: 40px;
  top: 420px;
  border: none;
}

.search > input:focus {
  outline-width: 0;
}

.search > button {
  position: absolute;
  left: 0;
  top: 480px;
  text-transform: inherit;
  background-color: #ff7779;
  color: white;
  width: 579px;
}

.search > button:hover {
  background-color: white;
  color: #ff7779;
}
